/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  position: relative;
  height: 100%; }

.container {
  width: 100%;
  height: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.c-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px; }
  .c-header__logo-container {
    margin: 0 left; }
  .c-header__logo {
    width: 100%; }

.c-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 275px;
  background: #1c1c4b;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .c-menu__list {
    height: auto; }
  .c-menu__list-item {
    text-align: left;
    margin: 30px;
    cursor: pointer; }
    .c-menu__list-item:hover {
      font-weight: bolder; }

.c-foot {
  height: 70px;
  width: 100%;
  background: #5c5c66;
  border-top: 0.5px solid #f8eaea;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  padding: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: auto; }

.c-form {
  width: 90%;
  background: #e7dddd;
  font-family: "Open Sans", sans-serif; }
  .c-form__wrapper {
    margin: 35px 60px 20px 40px;
    height: 80%;
    width: 90%; }
  .c-form__title {
    margin: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 34px; }
  .c-form__accordion {
    display: block;
    padding-left: 30px;
    width: 100%;
    height: 50%; }
  .c-form__acc-item {
    display: block;
    font-size: 18px;
    width: 100%;
    font-weight: 700;
    border-radius: 5px 5px 0 0; }
  .c-form__content {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background: #f3efef;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px groove #817c7c; }
  .c-form__item-title {
    padding: 25px; }
  .c-form__hidden {
    display: none; }
    .c-form__hidden.show-box {
      display: block;
      background: white;
      border-radius: 0 0 5px 5px;
      font-family: "Open Sans", sans-serif;
      color: darkslategrey;
      padding: 10px; }
  .c-form__checklist {
    width: 80%;
    padding: 15px 25px; }
  .c-form__item {
    position: relative;
    margin-bottom: 20px;
    padding: 8px; }
  .c-form__squareform {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .c-form__show {
    position: absolute;
    top: 4px;
    left: 5px;
    height: 27px;
    width: 27px;
    border: 0.5px solid grey;
    border-radius: 4px; }
    .c-form__show:hover {
      background: #c5bfbf; }
  .c-form__labeling {
    margin-left: 30px; }
  .c-form__checked-box {
    background: #2AA1C0;
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .c-form__contact-wrapper {
    width: 40%;
    display: inline-block;
    margin: 25px; }
  .c-form__contact {
    display: block;
    margin: 15px 0; }
  .c-form__info {
    border: none;
    border-bottom: 1.5px solid #b3aaaa;
    border-radius: 2px;
    width: 80%;
    padding: 5px;
    font-size: 18px;
    outline: none; }
