.c-foot {
    height: 8%;
    width: 100%;
    background: rgb(92, 92, 102);
    color: white;
    display: flex;
    font-size: 14px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}