.c-menu {
    display: flex;
    max-width: 275px;
    flex-basis: 275px;
    background:#008cdc;
    font-size: 20px;
    color: white;
    padding-top: 20px;
    flex-direction: column;
    @include mq (0, 1366px){
        font-size: 15px;
    }

    &__list {
        height: auto
    }

    &__list-item {
        text-align: left;
        margin: 30px;
        cursor: pointer;
        &:hover {
            font-weight: bolder;
        }
    }
}