.c-form {
    //width: 90%;
    flex: 1;
    background: rgb(241, 235, 235);

    &__wrapper {
        margin: 35px 60px 20px 40px;
    }

    &__title {
        margin: 20px;
        font-size: 34px;
        @include mq (570px,1366px){
            font-size: 25px;
        }
    }

    &__accordion {
        display: block;
        padding-left: 20px;
        width: 100%;
    }

    &__acc-item {
        font-size: 18px;
        font-weight: 700; 
        border-radius: 5px 5px 0 0;
        @include mq (569px, 1366px){
           font-size: 14px;
        }
    }

    &__content {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: rgb(204, 199, 199);
        border-radius: 5px 5px 0 0;
        border-bottom:1px groove rgb(177, 171, 171);
        
    }

    &__item-title {
        padding: 25px;
        @include mq (569px, 1366px){
            padding: 15px;
        }
    }

    &__minus {
        width: 24px;
        height: 4px;
        background: black;
        margin-right: 25px;
    }



    &__hidden {
        display: block;
        background: white;
        border-radius: 0 0 5px 5px;
        color: darkslategrey;
        padding:10px;
        &.show-box {
            display: none;
            
        }
        @include mq (569px,1366px){
            font-size: 12px;
        }
       
    }


    &__checklist {
        width: 80%;
        padding-bottom: 15px;
        @include mq (569px,1366px){
            padding-bottom: 10px;
        }
    }

    &__item {
        position: relative;
        padding: 8px;
        @include mq (569px,1366px){
            font-size: 15px;
            padding: 10px;
            margin-bottom: 5px;
        }
        
    }

    &__labeling {
        margin-left: 20px;
        cursor: pointer;
        @include mq (569px,1366px){
            font-size: 15px;
            padding: 10px;
        }
    }
    &__input-test[type="checkbox"] {
        display: none;
        z-index: -9999;
    }


    &__label-text:before {
        content: "\f096";
        margin-right: 10px;
        font-family: "FontAwesome";
        font-weight: normal;        
        font-size: 30px;
        padding:10px 0 0 0;
        &:checked {
            content: "\f14a";
        }
    }
    &__contact-wrapper {
        width: 40%;
        display: inline-block;
        margin: 20px;
        @include mq (569px,1366px){
            margin: 5px;
        }
    }

    &__contact {
        display: block;
        margin: 15px 0;
        opacity: 0.8;
        @include mq (569px,1366px){
            font-size: 15px;
        }
        
    }

    &__info {
        border: none;
        border-bottom: 1.5px solid rgb(179, 170, 170);
        border-radius: 2px;
        width: 80%;
        padding: 5px;
        font-size: 18px;
        outline: none;
        @include mq (569px,1366px){
            font-size: 15px;
            width: 70%;
        }
        
    }

    &__btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        
    }

    &__btn {
        padding: 20px 80px;
        margin-left: 15px;
        border-radius: 25px;
        font-size: 18px;
        border: 0.5 solid lightgray;
        color: black;
        background: white;
        text-decoration: none;
        font-weight: 700;
        &:hover {
            color: white;
            background: #008cdc;
            transition: 0.8s;
        }
        @include mq (569px,1366px){
            font-size: 12px;
            padding: 10px 50px;
        }

        
        
    }

    

    



    

    


    
}