.c-form {
    //width: 90%;
    flex: 1;
    background: rgb(241, 235, 235);

    &__wrapper {
        margin: 35px 60px 20px 40px;
    }

    &__title {
        margin: 30px;
        font-size: 34px;
        @include mq (704px,1367px){
            font-size: 25px;
            margin: 20px;
        }
    }

    &__accordion {
        display: block;
        padding-left: 30px;
        width: 100%;
    }

    &__acc-item {
        font-size: 18px;
        font-weight: 700; 
        border-radius: 5px 5px 0 0;
        @include mq (0, 1326px){
           height: 50%;
        }
    }

    &__content {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        background: rgb(204, 199, 199);
        border-radius: 5px 5px 0 0;
        border-bottom:1px groove rgb(129, 124, 124);
        
    }

    &__item-title {
        padding: 25px;
        @include mq (0, 1326px){
            padding: 15px;
        }
    }

    &__hidden {
        display: none;
        background: white;
        border-radius: 0 0 5px 5px;
        color: darkslategrey;
        padding:10px;
        &.show-box {
            display: block;
            
        }
       
    }


    &__checklist {
        width: 80%;
        padding: 15px 25px;
    }

    &__item {
        position: relative;
        margin-bottom: 20px;
        padding: 8px;
        @include mq (704px,1326px){
            font-size: 15px;
            padding: 10px;
            margin-bottom: 10px;
        }
        
    }

    &__squareform {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__show {
        position: absolute;
        top: 4px;
        left: 5px;
        height: 27px;
        width: 27px;
        border: 0.5px solid grey;
        border-radius: 3px;
        &:hover {
            background: rgb(197, 191, 191);
        }
        
    }

    &__labeling {
        margin-left: 30px;
        @include mq (768px,1326px){
            font-size: 15px;
            padding: 10px;
        }
    }

    &__checked-box {
        background: #2AA1C0;
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    &__contact-wrapper {
        width: 40%;
        display: inline-block;
        margin: 20px;
    }

    &__contact {
        display: block;
        margin: 15px 0;
        @include mq (768px,1326px){
            font-size: 15px;
        }
        
    }

    &__info {
        border: none;
        border-bottom: 1.5px solid rgb(179, 170, 170);
        border-radius: 2px;
        width: 80%;
        padding: 5px;
        font-size: 18px;
        outline: none;
        @include mq (768px,1326px){
            font-size: 15px;
            width: 70%;
        }
        
    }

    &__btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        
    }

    &__btn {
        padding: 20px 80px;
        margin-left: 15px;
        border-radius: 25px;
        font-size: 18px;
        border: 0.5 solid lightgray;
        color: black;
        background: white;
        text-decoration: none;
        &:hover {
            text-transform: uppercase;
            color: white;
            background: #008cdc;
            transition: 0.8s;
        }
        
    }



    

    


    
}