$primary-font: 'Open Sans', sans-serif;

@mixin mq($smallerValue,$biggerValue) {
    @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
      @content;
    }
  }    


  body {
    font-family: $primary-font;
  }

.container {
    //width: 100%;
    display: flex;
    height: calc(100vh - 60px);
}